.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
}

/* .appAside {
  flex: 1;
  background: #ececec;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 80px;
}

.asideText {
  font-size: 16px;
  margin-top: 20px;
}

  
.appForm {
  width: 50%;
  background-color: #f5f5f5; 
  padding: 50px; 

} */
  
  /* .pageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10%;
  }
  
  .pageSwitcherItem,
  .pageSwitcherItem-active {
    background-color:  #fc936a;
    color: #333; 
    padding: 10px 25px;
    cursor: pointer;
    font-size: 0.9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .pageSwitcherItem-active {
    background-color: #ece4de;
    color: rgb(41, 29, 29);
  }
  
  .pageSwitcherItem:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .pageSwitcherItem:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  } */
  
  .formCenter {
    /* margin-bottom: 100px; */
    height: 70vh;
    width: 80vh;
    background-color: antiquewhite;
    border-radius: 15px;
  }
  
  .formTitle {
    color: #707c8b;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .formTitleLink {
    color: #707c8b;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .formTitleLink:first-child {
    margin-left: 0;
  }
  
  .formTitleLink-active {
    color: rgb(117, 97, 97);
    border-bottom: 1px solid #6b5b95;
  }
  
  .formField {
    margin-bottom: 40px;
  }
  
  .formFieldLabel {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    color: rgb(88, 73, 73);
  }
  .formFieldInput {
    width: 85%;
    background-color: transparent;
    border: none;
    color: rgb(90, 72, 72);
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .formFieldInput::placeholder {
    color: #616e7f;
  }
  
  .formFieldButton {
    background-color: #fc936a; /* Choose your preferred color for the button */
    color: rgb(248, 238, 238);
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 0.8em;
    font-weight: 500;
  }
  .formFieldLink {
    color: #66707d;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #6b5b95;
    padding-bottom: 5px;
  }
  
  .formFieldCheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
  }
  
  /* Update the background color for the formFieldCheckbox class */
  .formFieldCheckbox {
    position: relative;
    top: 1.5px;
  }
  
  .formFieldTermsLink {
    color: #333; /* Choose a readable text color */
    border-bottom: 1px solid #6b5b95;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
  }
  

  .logoContainer {
    width: 100px;
    height: 100px;
  }
  
  .logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Preserve the aspect ratio of the image */
  }